<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ing. Aldo Ivan Sanchez Leon</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Aldo.</h1>
      <h2>a <span class="pro">full-stack</span> engineer.</h2>
    </div>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud">
    <img class="mountain" src="images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="image-cropper"
      src="images/cv foto2.png" alt="aldo-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am an software and Web Developer.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/3p50WGyUqeU5W/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 12 years old because I wanted to make my own video games. Over time, I have gained a wealth of experience designing and developing mobile, automate tasks  and web applications.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="images/chillies.png" alt="chillies-img">

        <h3>Punctuality</h3>
        <p>I am allways on time.</p>

      </div><br>
      <div class="skill-row">
        <img class="chilli-img" src="images/chillies.png" alt="chillies-img">

        <h3>Fast learning</h3>
        <p>I am always learning new things so I am a fast learner and can solve problems efficiently with the help of my Agile knowledge.</p>

      </div>
    </div>
    <hr>
    <div class="skills">
      <h2>COURSES.</h2>
      <div class="skill-row">
        <ul>
          <li>Programing- basic script Linux, at Instituto tecnológico de Querétaro.</li>
          <li>Deep Learning Onramp MatLab certificate by MatLab.</li>
          <li>Introduction to SQL by datacamp certificate</li>
          <li>Adobe XD certificate</li>
          <li>Ruby certificate</li>
          <li>Intro to DB2 certificate</li>
          <li>How to start and run web hosting certificate</li>
          <li>LAMP bouild and host your own web server certificate</li>
          <li>Agile certificate by IBM</li>
        </ul>
      </div>
      
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love learning new technologies as much as I do.</h3>
      <p class="contact-message">Let's talk about how awesome they are! We can code while we learn somthing new.!</p>
      <a class="btn">CONTACT ME</a>
      <ul>
        <li>ivan36leon@gmail.com</li>
        <li>(442)1050424</li>
      </ul>
    </div>
  </div>
  <div>
    <embed src="certifications/adobe XD.pdf#toolbar=0" type="application/pdf" width="80%" height="600px">
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/aldosanchezingmecatronica/">LinkedIn</a>
    <p class="copyright">©<%=Year%> Ing Aldo Ivan Sanchez Leon </p>
  </div>
</body>

</html>
